@media (max-width: 1200px) {
	.container {
		max-width: 1160px;
		padding: 0 10px;
	}
	.fullpage-swiper {
		&::-webkit-scrollbar {
		}
		&::-webkit-scrollbar {
			width: 0px;
		}
		&__item {
			&::-webkit-scrollbar {
			}
			&::-webkit-scrollbar {
				width: 0px;
			}
			&--height-auto {
			}
			&--aifs {
			}
		}
	}
	.hero {
		&__container {
		}
		&__inner {
		}
		&__logo-box {
			max-width: 480px;
			padding: 223px 45px 53px 39px;
			margin-bottom: 38px;
		}
		&__logo {
			width: 277px;
			margin-bottom: 23px;
		}
		&__logo-text {
			font-size: 20px;
			line-height: 30px;
		}
		&__supheading {
			font-size: 32px;
		}
		&__heading {
			font-size: 53px;
		}
	}
	.sidebar-nav {
		left: 192px;
		&--hidden {
		}
		&__lang-change {
		}
		&__inner {
			max-width: 306px;
		}
		&__item {
			font-size: 20px;
			line-height: 26px;
			padding: 8px 30px;
			&::after {
				left: 14px;
				width: 5px;
				height: 5px;
			}
			&::before {
				height: 1px;
			}
			&--active {
				&::after {
				}
				&::before {
				}
			}
			&:hover {
				&::after {
				}
				&::before {
				}
			}
		}
	}
	.video-block {
		max-height: 615px;
		max-width: 1086px;
		margin-right: 78px;
		&__heading {
			bottom: 97px;
			left: 45px;
			max-width: 545px;
			font-size: 24px;
			line-height: 28px;
		}
		&__text {
			bottom: 17px;
			left: 45px;
			max-width: 562px;
			font-size: 16px;
			line-height: 18px;
		}
		&__video-box {
			&--active {
			}
		}
		&__video {
		}
		&__button {
			width: 79px;
			height: 79px;
			bottom: 78px;
			right: 339px;
			&--hidden {
			}
		}
		&__button-icon {
		}
	}
	.advantages {
		max-width: 1008px;
		grid-gap: 80px 113px;
		margin-right: 160px;
		&__item {
			&:hover {
				.advantages {
					&__heading {
						border-bottom: 1px solid transparent;
						&::before {
						}
					}
				}
			}
		}
		&__heading {
			font-size: 16px;
			line-height: 21px;
			padding: 11px 20px;
			border-bottom: 1px solid #000;
			&::before {
			}
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
			padding: 20px;
		}
	}
	.mission {
		max-width: 1168px;
		&__mobile-block {
		}
		&__background-img {
			height: 957px;
		}
		&__text-box {
			transform: translateX(-224px);
			padding: 64px 77px 42px 69px;
			max-width: 752px;
		}
		&__blockquote {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 23px;
		}
		&__heading {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 24px;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 24px;
		}
		&__signature {
			width: 124px;
		}
		&__text-inner {
			font-size: 14px;
			line-height: 20px;
		}
	}
	.roadmap {
		max-width: 784px;
		margin-right: 384px;
		&__item {
			border-bottom: 1px solid #000;
			padding-bottom: 20px;
			&:not(:last-child) {
				margin-bottom: 82px;
			}
			&:hover {
				.roadmap {
					&__number-box {
						&::before {
						}
					}
				}
			}
		}
		&__number-box {
			margin-right: 32px;
			padding: 3px 20px;
			&::before {
			}
		}
		&__number {
			font-size: 32px;
			line-height: 40px;
		}
		&__number-text {
			font-size: 16px;
			line-height: 24px;
		}
		&__text-box {
		}
		&__heading {
			font-size: 16px;
			line-height: 21px;
			margin-bottom: 13px;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.faq {
		max-width: 788px;
		margin: 90px 0;
		margin-right: 379px;
		&__item {
		}
	}
	.faq-item {
		&__head {
			padding-top: 40px;
			&:hover {
				+ .faq-item__body {
					border-bottom: 1px solid #266dfe;
				}
				.faq-item {
					&__heading {
					}
					&__icon-box {
						&::before {
						}
					}
					&__icon {
						path {
						}
					}
				}
			}
			&--active {
				.faq-item {
					&__icon-box {
					}
				}
			}
		}
		&__heading {
			font-size: 16px;
			line-height: 21px;
		}
		&__icon-box {
			width: 48px;
			height: 48px;
			&::before {
			}
		}
		&__icon {
			width: 15px;
			height: 24px;
			path {
			}
		}
		&__body {
			border-bottom: 1px solid #000;
		}
		&__content {
			padding: 12px 0;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
			max-width: 634px;
		}
	}
	.demo {
		max-width: 1167px;
		padding: 50px 79px 50px 109px;
		&__text-box {
			margin-bottom: 32px;
		}
		&__heading {
			font-size: 16px;
			line-height: 24px;
			max-width: 528px;
			margin-right: 32px;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
			max-width: 416px;
		}
		&__swiper {
			height: 533px;
			padding-bottom: 100px !important;
		}
		&__swiper-wrapper {
			margin-bottom: 50px;
		}
		&__swiper-slide {
		}
		&__slide-img {
			border-radius: 30px;
		}
		&__nav {
		}
		&__arrow-left {
			width: 24px;
			height: 24px;
			margin-right: 227px;
		}
		&__arrow-img {
			width: 24px;
			height: 24px;
		}
		&__swiper-pagination {
			.swiper-pagination-bullet {
			}
		}
		&__arrow-right {
			width: 24px;
			height: 24px;
			margin-left: 227px;
		}
	}
	.contacts {
		margin: 40px 0;
		max-width: 795px;
		margin-right: 304px;
		&__info {
			&:not(:last-child) {
				margin-bottom: 122px;
			}
		}
		&__heading {
			font-size: 16px;
			line-height: 21px;
			padding-bottom: 13px;
			border-bottom: 1px solid #000;
			margin-bottom: 25px;
		}
		&__link {
			font-size: 16px;
			line-height: 34px;
			&:hover {
				.contacts {
					&__icon {
						path {
						}
					}
				}
			}
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		&__icon {
			width: 26px;
			margin-right: 16px;
			path {
			}
		}
		&__form {
		}
	}
	.form {
		max-width: 528px;
		&__label {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		&__name {
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 18px;
		}
		&__input {
			font-size: 14px;
			line-height: 19px;
			padding: 13px;
			border: 1px solid #d2d4d9;
			&:focus {
			}
		}
		&__button {
			font-size: 14px;
			line-height: 19px;
			padding: 16px 32px;
			border: 1px solid #2269fe;
			&:hover {
			}
		}
	}
	.lang-change-block {
		top: 38px;
		left: 80px;
		&__inner {
		}
		&__lang-change {
		}
	}
	.lang-change {
		&--black {
			.lang-change {
				&__text {
				}
				&__icon {
					path {
					}
				}
			}
		}
		&__head {
			padding: 8px;
		}
		&__icon {
			margin-left: 6px;
			width: 16px;
			height: 16px;
			path {
			}
		}
		&__text {
			font-size: 16px;
		}
		&__link {
			padding: 8px 0;
		}
		&__body {
			padding: 8px;
			&--active {
			}
		}
	}
	.footer {
		&__inner {
			padding: 70px 0;
		}
		&__text {
			font-size: 16px;
		}
	}
}
