@media (max-width: 767px) {
	.fullpage-swiper {
		height: 100%;
		overflow-y: auto;
		scroll-snap-type: none;

		&__item {
			height: auto;
			scroll-snap-align: none;
			scroll-snap-stop: none;
		}
	}
	.hero {
		height: 100vh;
		&__inner {
			padding: 150px 0 150px 0;
		}
	}
	.video-block {
		padding: 90px 20px 0 20px;
	}
	.demo {
		padding: 40px 20px;
		&__text-box {
			flex-direction: column;
		}
		&__swiper {
			height: 282px;
		}
		&__nav {
			width: 100%;
			justify-content: space-between;
		}
		&__heading {
			margin-bottom: 40px;
			font-size: 14px;
		}
		&__swiper-wrapper {
			margin-bottom: 30px;
		}
		&__slide-img {
			border-radius: 12px;
		}
		&__text {
			font-size: 14px;
		}
		&__arrow-left {
			margin-right: 11px;
		}
		&__arrow-right {
			margin-left: 11px;
		}
	}
}
