@media (max-width: 767px) {
	.demo {
		padding: 40px 20px;
		&__text-box {
			flex-direction: column;
		}
		&__swiper {
			height: 282px;
		}
		&__nav {
			width: 100%;
			justify-content: space-between;
		}
		&__heading {
			margin-bottom: 40px;
			font-size: 14px;
		}
		&__swiper-wrapper {
			margin-bottom: 30px;
		}
		&__slide-img {
			border-radius: 12px;
		}
		&__text {
			font-size: 14px;
		}
		&__arrow-left {
			margin-right: 11px;
		}
		&__arrow-right {
			margin-left: 11px;
		}
	}
}
