.container {
	margin: 0 auto;
	max-width: 60.416666666666664vw;
	padding: 0 0.5208333333333333vw;
}

.fullpage-swiper {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	scroll-snap-type: y mandatory;

	&::-webkit-scrollbar {
		display: none;
	}
	&::-webkit-scrollbar {
		width: 0vw;
		background: transparent;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;

	&__item {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		overflow-y: auto;
		width: 100%;
		height: 100%;
		scroll-snap-align: start;
		scroll-snap-stop: always;

		&::-webkit-scrollbar {
			display: none;
		}
		&::-webkit-scrollbar {
			width: 0vw;
			background: transparent;
		}
		-ms-overflow-style: none;
		scrollbar-width: none;

		&--height-auto {
			height: auto;
		}

		&--aifs {
			align-items: flex-start;
		}
	}
}

.hero {
	width: 100%;
	height: 100%;
	background: url("../media/images/hero__background.png") no-repeat;
	background-position: top center;
	background-size: cover;
	&__container {
	}

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 25vw;
		background: rgba(255, 255, 255, 0.25);
		padding: 11.614583333333334vw 2.34375vw 2.7604166666666665vw 2.03125vw;
		margin-bottom: 1.9791666666666665vw;
	}

	&__logo {
		width: 14.427083333333332vw;
		margin-bottom: 1.1979166666666667vw;
	}

	&__logo-text {
		text-align: center;
		color: #fff;
		font-size: 1.0416666666666665vw;
		line-height: 1.5625vw;
		font-family: "Jost", sans-serif;
		text-transform: uppercase;
	}

	&__supheading {
		font-size: 1.6666666666666667vw;
		line-height: 1.32;
		text-align: center;
		color: #fff;
		font-weight: 400;
		font-family: "Normalidad Var";
		text-transform: uppercase;
	}

	&__heading {
		font-family: "Normalidad Black Var";
		font-weight: 900;
		font-size: 2.7604166666666665vw;
		line-height: 1.32;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #fff;
	}
}

.sidebar-nav {
	z-index: 999;
	position: fixed;
	top: 50%;
	left: 10vw;
	transform: translateY(-50%);
	transition: opacity 400ms ease-in-out;

	&--hidden {
		opacity: 0;
		pointer-events: none;
	}
	&__inner {
		position: relative;
		width: 100%;
		max-width: 15.937499999999998vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__item {
		width: 100%;
		position: relative;
		font-weight: 300;
		font-family: "Normalidad Light Var";
		font-size: 1.0416666666666665vw;
		line-height: 1.3541666666666667vw;
		text-transform: uppercase;
		padding: 0.4166666666666667vw 1.5625vw;
		transition: color 400ms ease-in-out;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0.7291666666666666vw;
			width: 0.26041666666666663vw;
			height: 0.26041666666666663vw;
			border-radius: 50%;
			background: #000;
			transition: background 400ms ease-in-out;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 0.052083333333333336vw;
			background: #2269fe;
			transition: width 400ms ease-in-out;
		}

		&--active {
			color: #2269fe;
			font-weight: 700;
			font-family: "Normalidad Bold Var";
			&::after {
				background: #2269fe;
			}
			&::before {
				width: 100%;
			}
		}
		&:hover {
			color: #2269fe;
			font-weight: 700;
			font-family: "Normalidad Bold Var";
			&::after {
				background: #2269fe;
			}
			&::before {
				width: 100%;
			}
		}
	}
}

.video-block {
	max-height: 32.03125vw;
	width: 100%;
	max-width: 56.56250000000001vw;
	position: relative;
	margin-right: 4.0625vw;
	&__heading {
		position: absolute;
		bottom: 5.052083333333333vw;
		left: 2.34375vw;
		max-width: 28.385416666666668vw;
		font-size: 1.25vw;
		line-height: 1.4583333333333333vw;
		font-weight: 700;
		font-family: "Normalidad Bold Var", sans-serif;
		color: #fff;
		text-transform: uppercase;
		z-index: 2;
	}

	&__text {
		position: absolute;
		bottom: 0.8854166666666666vw;
		left: 2.34375vw;
		max-width: 29.270833333333336vw;
		font-size: 0.8333333333333334vw;
		line-height: 0.9375vw;
		color: #fff;
		z-index: 2;
	}

	&__video-box {
		position: relative;

		&--active {
			z-index: 3;
		}
	}

	&__video {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__button {
		width: 4.114583333333333vw;
		height: 4.114583333333333vw;
		position: absolute;
		z-index: 2;
		bottom: 4.0625vw;
		right: 17.65625vw;
		transition: opacity 400ms ease-in-out;
		&--hidden {
			pointer-events: none;
			opacity: 0;
		}
	}

	&__button-icon {
	}
}

.advantages {
	width: 100%;
	max-width: 52.5vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4.166666666666666vw 5.885416666666667vw;
	margin-right: 8.333333333333332vw;
	&__item {
	}

	&__heading {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8333333333333334vw;
		line-height: 1.09375vw;
		padding: 0.5729166666666666vw 1.0416666666666665vw;
		border-bottom: 0.052083333333333336vw solid #000;
		font-family: "Normalidad Bold Var";

		&--active {
			color: #fff;
			border: none;
			background: linear-gradient(90.37deg, #86acfa 9.13%, #2269fe 85.7%);
		}
	}

	&__text {
		font-size: 0.8333333333333334vw;
		line-height: 1.25vw;
		padding: 1.0416666666666665vw;
	}
}

.mission {
	width: 100%;
	max-width: 60.83333333333333vw;
	position: relative;

	&__mobile-block {
		display: none;
	}

	&__background-img {
		position: absolute;
		top: 50%;
		right: 0;
		width: 100%;
		height: 49.84375vw;
		transform: translateY(-50%);
		z-index: 1;
	}

	&__text-box {
		transform: translateX(-11.666666666666666vw);
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 3.3333333333333335vw 4.010416666666667vw 2.1875vw 3.5937499999999996vw;
		background: #f5f5f5;
		max-width: 39.166666666666664vw;
	}

	&__blockquote {
		margin-bottom: 1.0416666666666665vw;
		font-size: 0.8333333333333334vw;
		line-height: 1.1979166666666667vw;
		font-weight: 200;
		font-family: "Jost", sans-serif;
		font-style: italic;
	}

	&__heading {
		font-weight: 500;
		font-size: 1.0416666666666665vw;
		line-height: 1.4583333333333333vw;
		font-family: "Jost", sans-serif;
		margin-bottom: 1.25vw;
	}

	&__text {
		font-family: "Jost", sans-serif;
		font-size: 0.8333333333333334vw;
		line-height: 1.25vw;
		margin-bottom: 1.25vw;
	}

	&__signature {
		width: 6.458333333333334vw;
	}

	&__text-inner {
		font-family: "Jost", sans-serif;
		font-size: 0.7291666666666666vw;
		line-height: 1.0416666666666665vw;
	}
}

.roadmap {
	width: 100%;
	max-width: 40.833333333333336vw;
	margin-right: 20vw;
	&__item {
		display: flex;
		align-items: flex-start;
		border-bottom: 0.052083333333333336vw solid #000;
		padding-bottom: 1.0416666666666665vw;
		&:not(:last-child) {
			margin-bottom: 4.270833333333333vw;
		}
	}

	&__number-box {
		margin-right: 1.6666666666666667vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background: #687590;
		padding: 0.15625vw 1.0416666666666665vw;
		color: #fff;
		&--active {
			background: linear-gradient(242.04deg, #1762fe 14.18%, #96b8ff 73.5%);
		}
	}

	&__number {
		font-size: 1.6666666666666667vw;
		line-height: 2.083333333333333vw;
	}

	&__number-text {
		font-size: 0.8333333333333334vw;
		line-height: 1.25vw;
	}

	&__text-box {
	}

	&__heading {
		font-weight: 700;
		font-size: 0.8333333333333334vw;
		line-height: 1.09375vw;
		text-transform: uppercase;
		font-family: "Normalidad Bold Var";
		margin-bottom: 0.6770833333333334vw;
	}

	&__text {
		font-size: 0.8333333333333334vw;
		line-height: 1.25vw;
	}
}

.faq {
	width: 100%;
	max-width: 41.041666666666664vw;
	margin: 4.6875vw 0;
	margin-right: 19.739583333333332vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__item {
		width: 100%;
	}
}
.faq-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__head {
		padding-top: 2.083333333333333vw;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:hover {
			+ .faq-item__body {
				border-bottom: 0.052083333333333336vw solid #266dfe;
			}
			.faq-item {
				&__heading {
					color: #2269fe;
				}
				&__icon-box {
					&::before {
						opacity: 1;
					}
				}
				&__icon {
					path {
						fill: #fff;
					}
				}
			}
		}

		&--active {
			.faq-item {
				&__icon-box {
					transform: rotate(-90deg);
				}
			}
		}
	}

	&__heading {
		font-size: 0.8333333333333334vw;
		font-weight: 700;
		line-height: 1.09375vw;
		font-family: "Normalidad Bold Var";
		transition: color 400ms ease-in-out;
	}

	&__icon-box {
		width: 2.5vw;
		height: 2.5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		isolation: isolate;
		position: relative;
		transition: transform 400ms ease-in-out;

		&::before {
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			background: linear-gradient(42.06deg, #266dfe 4.94%, #96b8ff 86.4%);
			opacity: 0;
			transition: opacity 400ms ease-in-out;
			z-index: 1;
			pointer-events: none;
		}
	}

	&__icon {
		z-index: 2;
		width: 0.78125vw;
		height: 1.25vw;

		path {
			fill: #000;
			transition: fill 400ms ease-in-out;
		}
	}

	&__body {
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: height 400ms ease-in-out, border 400ms ease-in-out;
		border-bottom: 0.052083333333333336vw solid #000;
	}

	&__content {
		width: 100%;
		padding: 0.625vw 0;
	}

	&__text {
		font-size: 0.8333333333333334vw;
		line-height: 1.25vw;
		max-width: 33.020833333333336vw;
	}
}

.demo {
	width: 100%;
	height: 100%;
	max-width: 60.78125vw;
	background: linear-gradient(44.19deg, #2169fe 42.91%, #709cf9 100.93%);
	padding: 2.604166666666667vw 4.114583333333333vw 2.604166666666667vw 5.677083333333333vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__text-box {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		color: #fff;
		margin-bottom: 1.6666666666666667vw;
	}

	&__heading {
		font-size: 0.8333333333333334vw;
		line-height: 1.25vw;
		font-weight: 700;
		font-family: "Normalidad Bold Var";
		text-transform: uppercase;
		max-width: 27.500000000000004vw;
		margin-right: 1.6666666666666667vw;
	}

	&__text {
		font-size: 0.8333333333333334vw;
		line-height: 1.25vw;
		max-width: 21.666666666666668vw;
	}

	&__swiper {
		width: 100%;
		height: 27.760416666666664vw;
		padding-bottom: 5.208333333333334vw !important;
	}

	&__swiper-wrapper {
		width: 100%;
		height: 100%;
		margin-bottom: 2.604166666666667vw;
	}

	&__swiper-slide {
		width: 100%;
		height: 100%;
	}

	&__slide-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1.5625vw;
	}

	&__nav {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__arrow-left {
		width: 1.25vw;
		height: 1.25vw;
		margin-right: 11.822916666666666vw;
	}

	&__arrow-img {
		width: 1.25vw;
		height: 1.25vw;
	}

	&__swiper-pagination {
		position: static !important;
		transform: translateX(0) !important;
		.swiper-pagination-bullet {
			background: #fff;
		}
	}

	&__arrow-right {
		width: 1.25vw;
		height: 1.25vw;
		transform: rotate(180deg);
		margin-left: 11.822916666666666vw;
	}
}

.contacts {
	margin: 2.083333333333333vw 0;
	width: 100%;
	max-width: 41.40625vw;
	margin-right: 15.833333333333332vw;
	&__info {
		&:not(:last-child) {
			margin-bottom: 6.354166666666666vw;
		}
	}

	&__heading {
		font-size: 0.8333333333333334vw;
		line-height: 1.09375vw;
		font-weight: 700;
		font-family: "Normalidad Bold Var";
		padding-bottom: 0.6770833333333334vw;
		border-bottom: 0.052083333333333336vw solid #000;
		text-transform: uppercase;
		margin-bottom: 1.3020833333333335vw;
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 0.8333333333333334vw;
		line-height: 1.7708333333333333vw;
		transition: color 200ms ease-in-out;

		&:hover {
			color: #2269fe;
		}

		&:not(:last-child) {
			margin-bottom: 2.083333333333333vw;
		}
	}

	&__icon {
		width: 1.3541666666666667vw;
		margin-right: 0.8333333333333334vw;
	}

	&__form {
	}
}
.form {
	width: 100%;
	max-width: 27.500000000000004vw;
	display: flex;
	flex-direction: column;
	&__label {
		width: 100%;
		display: flex;
		flex-direction: column;
		&:not(:last-child) {
			margin-bottom: 1.3020833333333335vw;
		}
	}

	&__name {
		margin-bottom: 0.5208333333333333vw;
		font-size: 0.7291666666666666vw;
		line-height: 0.9375vw;
		font-weight: 300;
	}

	&__input {
		font-size: 0.7291666666666666vw;
		line-height: 0.9895833333333333vw;
		padding: 0.6770833333333334vw;
		border: 0.052083333333333336vw solid #d2d4d9;

		transition: border 400ms ease-in-out;

		&:hover,
		&:focus {
			border-color: #2269fe;
		}
	}

	&__button {
		font-weight: 700;
		font-size: 0.7291666666666666vw;
		line-height: 0.9895833333333333vw;
		text-transform: uppercase;
		text-align: center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0.8333333333333334vw 1.6666666666666667vw;
		background: #2269fe;
		color: #fff;
		border: 0.052083333333333336vw solid #2269fe;
		transition: color 400ms ease-in-out, background 400ms ease-in-out;

		&:hover {
			background: #fff;
			color: #2269fe;
		}
	}
}

.footer {
	width: 100%;
	background: #000;
	&__inner {
		padding: 3.6458333333333335vw 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		color: #fff;
		text-align: center;
		font-weight: 700;
		font-size: 0.8333333333333334vw;
		line-height: 1.32;
	}
}
